Repository raduschirliu/cpsc585, pull requests merged in 2023-03, with the labels that each got.

#83 feat: Add support for TriangleMesh colliders, add PhysX debug visualization
  docs/Keybinds.md
  game/resources/models/track/track1.blend
  game/resources/models/track/track1.obj
  game/resources/shaders/debug.frag
  game/resources/shaders/debug.vert
  game/src/engine/asset/AssetService.cpp
  game/src/engine/core/Colors.h
  game/src/engine/core/gfx/Buffer.h
  game/src/engine/core/gfx/VertexBuffer.cpp
  game/src/engine/core/gfx/VertexBuffer.h
  game/src/engine/core/math/Physx.cpp
  game/src/engine/core/math/Physx.h
  game/src/engine/gui/GuiService.h
  game/src/engine/physics/BoxRigidBody.cpp
  game/src/engine/physics/BoxRigidBody.h
  game/src/engine/physics/BoxTrigger.cpp
  game/src/engine/physics/BoxTrigger.h
  game/src/engine/physics/Hitbox.cpp
  game/src/engine/physics/MeshStaticBody.cpp
  game/src/engine/physics/MeshStaticBody.h
  game/src/engine/physics/PhysicsService.cpp
  game/src/engine/physics/PhysicsService.h
  game/src/engine/physics/PlaneStaticBody.cpp
  game/src/engine/physics/RigidBodyComponent.cpp
  game/src/engine/physics/RigidBodyComponent.h
  game/src/engine/physics/SphereRigidbody.cpp
  game/src/engine/physics/SphereRigidbody.h
  game/src/engine/render/Camera.cpp
  game/src/engine/render/DebugDrawList.cpp
  game/src/engine/render/DebugDrawList.h
  game/src/engine/render/Material.h
  game/src/engine/render/RenderService.cpp
  game/src/engine/render/RenderService.h
  game/src/engine/scene/SceneDebugService.cpp
  game/src/engine/scene/SceneDebugService.h
  game/src/engine/scene/SceneList.cpp
  game/src/engine/scene/SceneList.h
  game/src/game/GameApp.cpp
  game/src/game/GameApp.h
  game/src/game/components/Controllers/AIController.cpp
  game/src/game/components/Controllers/AIController.h
  game/src/game/components/Controllers/PlayerController.h
  game/src/game/components/VehicleComponent.cpp
  game/src/game/components/VehicleComponent.h
Labels: feature, renderer, framework, physics

#84 feat: added OpenAL as a dependency*; created and initialised an AudioService
  game/resources/audio/sfx/professional_test_audio.wav
  game/src/engine/audio/AudioService.cpp
  game/src/engine/audio/AudioService.h
  game/src/game/GameApp.cpp
  thirdparty/CMakeLists.txt
Labels: framework, audio

#86 fix: make physics step independent of framerate
  game/resources/vehicle_data/Base.jsonc
  game/resources/vehicle_data/DirectDrive.jsonc
  game/resources/vehicle_data/EngineDrive.jsonc
  game/src/engine/App.cpp
  game/src/engine/App.h
  game/src/engine/core/math/Timestep.cpp
  game/src/engine/core/math/Timestep.h
  game/src/engine/physics/Hitbox.cpp
  game/src/engine/physics/OnPhysicsUpdateEvent.h
  game/src/engine/physics/PhysicsService.cpp
  game/src/engine/physics/PhysicsService.h
  game/src/game/components/Controllers/PlayerController.cpp
  game/src/game/components/VehicleComponent.cpp
  game/src/game/components/VehicleComponent.h
Labels: bug, framework, physics

#87 fix: change max view distance for track model in blender
  game/resources/models/track/track3-3.blend
Labels: assets

#89 feat/controller
  .vscode/settings.json
  docs/Keybinds.md
  game/src/engine/App.cpp
  game/src/engine/App.h
  game/src/engine/core/gfx/Window.cpp
  game/src/engine/core/gfx/Window.h
  game/src/engine/input/Gamepad.cpp
  game/src/engine/input/Gamepad.h
  game/src/engine/input/InputService.cpp
  game/src/engine/input/InputService.h
  game/src/engine/input/InputState.h
  game/src/engine/physics/Hitbox.cpp
  game/src/engine/physics/VehicleCommands.h
  game/src/game/GameApp.cpp
  game/src/game/components/Controllers/AIController.h
  game/src/game/components/Controllers/PlayerController.cpp
  game/src/game/components/Controllers/PlayerController.h
  game/src/game/components/VehicleComponent.cpp
  game/src/game/components/VehicleComponent.h
Labels: feature, framework, gameplay, input

#90 feat: integrate kart model into game, tuning of physx vehicle params, camera following improvements
  game/resources/models/kart/kart2-4.obj
  game/resources/vehicle_data/Base.jsonc
  game/resources/vehicle_data/Integration.jsonc
  game/src/engine/asset/AssetService.cpp
  game/src/engine/physics/PhysicsService.cpp
  game/src/engine/physics/PhysicsService.h
  game/src/engine/render/FollowCamera.cpp
  game/src/engine/render/FollowCamera.h
  game/src/engine/scene/Transform.cpp
  game/src/engine/scene/Transform.h
  game/src/game/GameApp.cpp
  game/src/game/components/FollowCamera.cpp
  game/src/game/components/FollowCamera.h
  game/src/game/components/VehicleComponent.cpp
  game/src/game/components/VehicleComponent.h
  thirdparty/physx.cmake
  thirdparty/physx_vehicle_common/physx/CommonVehicleFiles/physxintegration/PhysXIntegration.cpp
  thirdparty/physx_vehicle_common/physx/CommonVehicleFiles/serialization/IntegrationSerialization.cpp
  thirdparty/physx_vehicle_common/physx/CommonVehicleFiles/serialization/IntegrationSerialization.h
Labels: feature, gameplay, physics

#91 feat: play audio (.ogg) files via key press
  game/resources/audio/sfx/professional_test_audio.ogg
  game/resources/audio/sfx/professional_test_audio.wav
  game/src/engine/audio/AudioFile.h
  game/src/engine/audio/AudioService.cpp
  game/src/engine/audio/AudioService.h
  thirdparty/CMakeLists.txt
  thirdparty/stb-2.26/stb/stb_vorbis.c
Labels: feature, audio

#98 added image texture to the track model
  game/resources/models/track/blocks.png
  game/resources/models/track/blueTrack.png
  game/resources/models/track/globe.png
  game/resources/models/track/orangeTrack.png
  game/resources/models/track/screen.png
  game/resources/models/track/track3-7.blend
  game/resources/models/track/track3-7.blend1
  game/resources/models/track/track3-8.blend
  game/resources/models/track/track3-8.blend1
Labels: assets

#102 fix: issues with events, scenes, and textures
  game/resources/textures/ui/logo.png
  game/src/engine/App.cpp
  game/src/engine/App.h
  game/src/engine/asset/AssetService.cpp
  game/src/engine/asset/AssetService.h
  game/src/engine/core/event/EventBus.h
  game/src/engine/core/event/EventDispatcher.h
  game/src/engine/core/gfx/GLHandles.cpp
  game/src/engine/core/gfx/GLHandles.h
  game/src/engine/core/gfx/Texture.cpp
  game/src/engine/core/gfx/Texture.h
  game/src/engine/gui/GuiService.cpp
  game/src/engine/scene/Component.cpp
  game/src/engine/scene/Component.h
  game/src/engine/scene/SceneDebugService.cpp
  game/src/engine/scene/SceneDebugService.h
  game/src/engine/scene/SceneList.cpp
  game/src/engine/scene/SceneList.h
  game/src/game/GameApp.cpp
  game/src/game/components/ui/PlayerHud.cpp
  game/src/game/components/ui/PlayerHud.h
  game/src/game/services/GameStateService.cpp
  thirdparty/CMakeLists.txt
Labels: bug, framework

#101 feat: 3D/spatial audio
  game/resources/audio/music/test_music.ogg
  game/resources/audio/sfx/game_yay.ogg
  game/resources/audio/sfx/kart_driving_01.ogg
  game/resources/audio/sfx/kart_honk_01.ogg
  game/resources/audio/sfx/kart_honk_02.ogg
  game/resources/audio/sfx/kart_honk_03.ogg
  game/resources/audio/sfx/kart_shoot_01.ogg
  game/resources/audio/sfx/kart_shoot_02.ogg
  game/resources/audio/sfx/kart_shoot_03.ogg
  game/resources/audio/sfx/pickup_get_01.ogg
  game/resources/audio/sfx/pickup_get_02.ogg
  game/resources/audio/sfx/test_audio.ogg
  game/src/engine/audio/AudioFile.h
  game/src/engine/audio/AudioService.cpp
  game/src/engine/audio/AudioService.h
  game/src/game/GameApp.cpp
  game/src/game/components/VehicleComponent.cpp
  game/src/game/components/VehicleComponent.h
  game/src/game/components/audio/AudioListener.cpp
  game/src/game/components/audio/AudioListener.h
  game/src/game/components/audio/SoundEmitter.cpp
  game/src/game/components/audio/SoundEmitter.h
  game/src/game/services/GameStateService.cpp
Labels: framework, audio, assets

#126 feat: skybox & cubemap loading support
  game/resources/assets.jsonc
  game/resources/models/cube.obj
  game/resources/shaders/skybox.frag
  game/resources/shaders/skybox.vert
  game/resources/textures/skybox/mountain/nx.jpg
  game/resources/textures/skybox/mountain/ny.jpg
  game/resources/textures/skybox/mountain/nz.jpg
  game/resources/textures/skybox/mountain/px.jpg
  game/resources/textures/skybox/mountain/py.jpg
  game/resources/textures/skybox/mountain/pz.jpg
  game/src/engine/asset/AssetBundle.cpp
  game/src/engine/asset/AssetBundle.h
  game/src/engine/asset/AssetService.cpp
  game/src/engine/asset/AssetService.h
  game/src/engine/core/gfx/Cubemap.cpp
  game/src/engine/core/gfx/Cubemap.h
  game/src/engine/core/gfx/StbImpl.cpp
  game/src/engine/core/gfx/StbImpl.h
  game/src/engine/core/gfx/Texture.cpp
  game/src/engine/core/gfx/Texture.h
  game/src/engine/core/gfx/Window.cpp
  game/src/engine/render/DebugDrawList.cpp
  game/src/engine/render/RenderService.cpp
  game/src/engine/render/RenderService.h
  game/src/game/components/ui/PlayerHud.cpp
  thirdparty/CMakeLists.txt
Labels: feature, renderer, framework, assets
